.DS_Store
/images/Docs
LaTeX/build/asthma_microarray.aux
LaTeX/build/asthma_microarray.bbl
LaTeX/build/asthma_microarray.fdb_latexmk
LaTeX/build/asthma_microarray.blg
LaTeX/build/asthma_microarray.fls
LaTeX/build/asthma_microarray.log
LaTeX/build/asthma_microarray.out
LaTeX/build/asthma_microarray.synctex.gz
